<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wts.chillarpay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChillarPay"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".ReportsActivity" />
        <activity android:name=".LedgerReportActivity" />
        <activity android:name=".RechargeReport_Activity" />
        <activity android:name=".CreditDebitReportActivity" />
        <activity android:name=".FundRequest" />
        <activity android:name=".Recharge_Activity" />
        <activity android:name=".WalletActivity" />
        <activity android:name=".CreditDebitActivity" />
        <activity android:name=".MyCommision" />
        <activity
            android:name=".MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>